
  
   <ion-content>
<ion-item-group class="matchday-fixture-list"  *ngFor="let fixtureDay of matchday.fixtureDays" >
 <ion-item-divider  color="light" sticky>{{fixtureDay.day}}</ion-item-divider>
  <ion-item *ngFor="let fixture of fixtureDay.fixtures" class="fixture-item">
      <div class="row">
        <div col-4 > 
        <div class="home-team-container" align="left">
        <div class="team-icon">
      <img src="{{fixture.homeTeam?.crestUrl}}">
      </div>
      <div class="team-name">{{fixture.homeTeam?.name}}</div>
        </div>
      </div>
      <div col-4 class="fixture-details">
        <div *ngIf="fixture.status!='FINISHED';else completedMatchBlock" class="fixture-schedule">
    <div>
      vs
    </div>
      <div>
        {{fixture.time}}
      </div>
        </div>
    <ng-template #completedMatchBlock>
      <div class="result">
   <div>{{fixture.result.goalsHomeTeam}} - {{fixture.result.goalsAwayTeam}}</div>
   <div>Full Time</div>
   </div>
 </ng-template>
</div>
      <div col-4 >
        <div class="away-team-container" align="right">
       <div class="team-icon">
      <img src="{{fixture.awayTeam?.crestUrl}}">
      </div>
      <div class="team-name">{{fixture.awayTeam?.name}}</div>
    </div>
  </div>
      </div>
  </ion-item>
</ion-item-group>
   </ion-content>