

<ion-content>
<ng-template #nonGroupedCompetitionBlock>
        <ion-item-divider color="secondary" class="league-table-header" sticky>
                <ion-row>
                    <ion-col col-5>
                        Team
                    </ion-col>
                    <ion-col col-1>P</ion-col>
                    <ion-col col-1>W</ion-col>
                    <ion-col col-1>D</ion-col>
                    <ion-col col-1>L</ion-col>
                    <ion-col col-2 class="goal-difference">GD</ion-col>
                    <ion-col col-1>Pts</ion-col>
                </ion-row>
            </ion-item-divider>
<ion-grid class="league-table" > 
<ion-row *ngFor="let entry of leagueTableEntries">
   <ion-col col-5>
    {{entry.position}}.   <img class="table-team-icon" src="{{entry.team.crestUrl}}"> <div class="table-team-name">{{entry.team.shortName}}</div>
    </ion-col>
    <ion-col col-1>
        {{entry.playedGames}}
    </ion-col>
    <ion-col col-1>
        {{entry.wins}}
    </ion-col>
    <ion-col col-1>
        {{entry.draws}}
    </ion-col>
    <ion-col col-1>
        {{entry.losses}}
    </ion-col>
    <ion-col col-2 class="goal-difference">
        {{entry.goalDifference}}
    </ion-col>
    <ion-col col-1>
        {{entry.points}}
    </ion-col>
</ion-row>
</ion-grid>

</ng-template>

 <super-tabs tabsPlacement="top" #ionTabs scrollTabs="true" *ngIf="isGroupedCompetition; else nonGroupedCompetitionBlock" toolbarBackground="secondary" toolbarColor="tabTextColor" badgeColor="badgeColor" indicatorColor="indicatorColor" >
  <super-tab *ngFor="let group of groups" [root]="group.component" [rootParams]="{groupData:group.groupTableEntries}" title="{{group.name}}"></super-tab>
</super-tabs>
</ion-content>