.league-table{
    font-size:10px;
}
.table-team-icon{
    max-height: 15px !important;
    max-width:15px !important;
    
}
.table-team-name{
    height:20px;
    vertical-align: middle;
    display: inline-block;
}
.league-table-header{
    font-size: 10px;
    padding:0;
}
.league-table-header .label-md{
    margin: 0;
}
.goal-difference{
    text-align: center;
}